* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

$primary: #2776B2;
$heading: #142633;
$secondary: #506473;
$altBackground: #F5F8FA;
$altBackgroundTransparent: rgba(245, 248, 250, 0.8);
$primaryFont: Raleway, sans-serif;
$secondaryFont: 'Varela Round', sans-serif;

body {
  font-family: $primaryFont;
  font-size: 18px;
  font-optical-sizing: auto;
  color: $secondary;
}

p {
  margin-top: 16px;
  line-height: 27px;
}

a {
  color: $primary;
}

h1 {
  color: $heading;
  letter-spacing: -0.02em;
  font-weight: 600;
  font-size: 29px;
  line-height: 25px;
}

.greeting {
  margin-top: 32px;
  color: $secondary;
  font-family: 'Varela Round', sans-serif;
  font-weight: normal;
}

.name {
  font-family: $secondaryFont;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: $primary;
}

.position {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  letter-spacing: -0.03em;
  color: $secondary;
  margin: 0;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: $heading;

  a {
    color: inherit;
  }
}

.sub-header {
  margin-top: 32px;
}

.email {
  display: inline-block;
  margin-top: 32px;
}

@media screen and (max-width: 430px) {
  .work-list {
    display: flex;
    flex-direction: column;
    margin-top: 48px;

    li {
      margin-bottom: 48px;
    }
  }

  img {
    margin-top: 16px;
    max-width: 100%;
    border-radius: 16px;
  }

  .design-preview {
    border: 1px solid #DAE8F2;
  }

  .container {
    padding: 112px 16px;
  }

  .menu {
    background: $altBackgroundTransparent;
    padding: 24px 16px;
    position: fixed;
    height: 96px;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.5s height cubic-bezier(.73, .32, .34, 1.5);
    overflow: hidden;

    .menu-list {
      flex-direction: column;
      margin-top: 48px;
      transition: 1s opacity cubic-bezier(.73, .32, .34, 1.5);
      opacity: 0;
      li {
        margin-bottom: 8px;
      }
    }

    .menu-item {
      a {
        padding: 13px 0;
        display: inline-block;
        width: 100%;
        text-decoration: none;
      }
    }

    .icon {
      display: inline-block;
      width: 48px;
      height: 48px;
      margin-left: auto;
      cursor: pointer;
      border: none;
      outline: none;
    }

    .icon-menu {
      flex-shrink: 0;
      background: url("assets/icons/menu.svg") no-repeat;
    }
  }

  .menu-expanded {
    width: calc(100% - 16px);
    box-shadow: 0 3px 4px 2px rgba(20, 38, 51, 0.25);
    height: 256px;

    .menu-list {
      opacity: 1;
    }

    .icon-menu {
      background: url("assets/icons/close.svg") no-repeat;
    }
  }
}