* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  background: url("assets/bg.svg") no-repeat top 60% right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  background: #A0A1B4;
}

#puzzle {
  border: 1px solid #CED1D9;
}

.balloons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.balloon-big {
  width: 137px;
  height: 185px;
  animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
}

@keyframes slide-top {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}

.balloon-small {
  width: 84px;
  height: 103px;
}

main {
  padding: 16px;
}

h1 {
  font-weight: 400;
  font-family: Pacifico, cursive;
  font-size: 60px;
  line-height: 60px;
  color: #4976E5;
}

.gift {
  margin-top: 64px;
}

.start-header {
  margin-bottom: 48px;
}

.final-header {
  margin-top: 128px;
  text-align: center;
}

p {
  font-family: Pacifico, cursive;
  font-size: 40px;
  line-height: 60px;
  color: #4976E5;
}

footer {
  padding: 16px 16px 0 16px;
  margin-top: 64px;
}

.heart-button-play {
  transform-origin: center;
  display: flex;
  width: 107px;
  height: 77px;
  outline: none;
  background: url("assets/play_button.svg");
  border: none;
  margin: 0 auto;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both, vibrate-1 0.5s linear infinite both;
}

@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.gift-button {
  display: flex;
  width: 152px;
  outline: none;
  border: none;
  height: 77px;
  background: url("assets/gift-button.svg");
  margin: 24px auto;
  opacity: 0;
}

.gift-button-show {
  opacity: 1;
}

.instruction {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 700;
  opacity: 0;
  font-size: 18px;
  color: #223566;
  transition: opacity 1s ease-in-out;
  margin-bottom: 8px;
}

.instruction-full {
  opacity: 1;
}

h2 {
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #4976E5;
  margin-bottom: 8px;
}

.heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}